/* CHOICES DETAILS STYLING */

.choices-details-wrapper {
  height: 47%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px 0 10px 50px;
}

.addon-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  padding-bottom: 20px;
}
.addon-option {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding-bottom: 20px;
  cursor: pointer;
}

.addon-option-cost {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #535665;
  padding-left: 16px;
}

.addon-option-wrapper {
  display: flex;
  cursor: pointer;
}

.addon-option-wrapper input[type="radio"],
.addon-option-wrapper input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin-right: 16px;
  transition: ease-in-out;
  cursor: pointer;
}

.addon-option:hover {
  font-weight: bold;
  font-size: 17px;
  transition: ease-in;
}

.food-category {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.show-error {
  height: 50px;
  width: 100%;
  background: #fa4a5b;
  padding: 0 30px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  bottom: 100px;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MOBILE VIEW */

@media (max-width: 480px) {
  .addon-option {
    font-size: 14px;
  }
  .addon-option:hover {
    font-weight: normal;
    font-size: 14px;
  }
  .show-error {
    bottom: 80px;
  }
}
