/* CHOICE TABS STYLES */

.choice-tabs-wrapper {
  padding: 26px 0 0 50px;
  width: 100%;
  min-height: 90px;
  margin-top: 30px;
  padding-top: 22px;
  border-top: 1px dashed #bebfc5;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

.choices {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.choice {
  display: flex;
  margin-right: 22px;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  white-space: nowrap;
  color: #93959f;
  line-height: 1.2;
  padding: 7px 0;
  text-decoration: none;
}

.choice:hover {
  color: #282c3f;
  /*   border-bottom: 1px solid #282c3f; */
}

@media (max-width: 480px) {
  .choice-tabs-wrapper {
    padding: 13px 0 10px 50px;
  }

  .choice {
    padding: 5px 0;
  }
}
