/* TOP ROW STYLES */

.top-row-wrapper {
  padding: 26px 0 0 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-weight: 500;
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  max-width: 490px;
}

.initial-price {
  font-weight: normal;
  font-size: 15px;
  color: #535665;
  padding-top: 8px;
}

.close-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.close-icon {
  width: 28px;
  height: 28px;
}
