/* FONT IMPORT */
@font-face {
  font-family: "Proxima Nova Font";
  src: local("Proxima Nova Font"),
    url(./fonts/Proxima-Nova-Font/Proxima\ Nova\ Font.otf) format("opentype");
}

/* RESETTING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SETTING GLOBAL FONT */

html,
body {
  font-family: "Proxima Nova Font", sans-serif;
  background-color: black;
}
